.logo{
    width: 50px;
    height: 50px; 
}

.header-pic{
    width: 20%;  
    display: flex;
    justify-content: right;
    margin-right: 0px;
    padding-left: 20px;
    
}

body{
    display: flex;
    flex-direction: column;
    margin: 0px    ; 
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    
    
}

.header{
    background-color: gray;
    padding: 20px; 
    
}

.content{
    display: flex;
   gap: 10px; 
   margin: 5px;
    
}

.right-links{
    display: flex;
}

li{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

button{
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 1px 5px;
  width: 60px; 
  height: 17px; 
 
}

.heading-para {
    display: flex;
    flex-direction: column;
    margin-right: 500px; 
}

a{
    text-decoration: none;
 
}

.section2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex:1;
}

.image2-section{
    display: flex;
    gap: 15px;  
    margin: 40px;    
    
}

.section2-pics {
    width: 150px; 
    

    
}

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0; 
    background-color: gray;
    flex:1;
   

}
.header, .section2, .section3 {
    flex: 1; /* Each section will grow to fill the space equally */
    /* Other styles... */
}

.section4{
    display: flex; 
    justify-content: center;
    flex: 1;
    background-color: blue; 
    margin: 100px; 
    border-radius: 25px;
}

.section4-left{
    display: flex;
    flex-direction: column;
}

.section4-button{
    display: flex;
    justify-content: center;  
    align-items: center;     
}
